<div class="payment">
	<div class="view-types">
		<button class="btn" [ngClass]="{'active':isPreview}" (click)="isPreview=true;">Preview</button>
		<button class="btn" [ngClass]="{'active':!isPreview}" (click)="isPreview=false;">Form</button>
	</div>
	<div class="view-wrapper">
		<div class="preview" [ngClass]="{'active':isPreview}">
			<div
				class="product {{ orderDetails.get('submissionDetails').get('frameColor').value }} {{ 'bg-'+orderDetails.get('submissionDetails').get('backgroundColor').value }}">
				<div class="skymap-wrapper ew-cordinates">
					<div class="ns-cordinates">
						<img src="../../../../assets/images/starmap1.png" />
					</div>
				</div>
				<div class="constant-text">
					Under These Skies
				</div>
				<div class="name-tag">
					<span *ngIf="peopleInvolved[0] && peopleInvolved[0] !== ' '">{{ peopleInvolved[0] }}</span>
					<span class="no-background"
						*ngIf="peopleInvolved.length > 1 && peopleInvolved[1] && peopleInvolved[1] !== ' '"> & </span>
					<span
						*ngIf="peopleInvolved.length > 1 && peopleInvolved[1] && peopleInvolved[1] !== ' '">{{ peopleInvolved[1] }}</span>
				</div>
				<div class="custom-text">
					{{ orderDetails.get('submissionDetails').get('customText').value }}
				</div>
				<div class="date-place-holder">
					<span *ngIf="location && dateToShow">Stars
						above {{ location }} on
						{{ dateToShow }}</span>
				</div>
			</div>
			<span class="infoHolder">{{ 'productDescription' | translate }}</span>
		</div>
		<div class="form" [ngClass]="{'active':!isPreview}">
			<form [formGroup]="orderDetails">
				<ul class="breadcrumb" *ngIf="activeStep < 4">
					<li [ngClass]="{'active': activeStep === 1}">
						{{ 'paymentStepOne.title' | translate }}</li>
					<li [ngClass]="{'active': activeStep === 2}">
						{{ 'paymentStepTwo.title' | translate }}</li>
					<li [ngClass]="{'active': activeStep === 3}">
						{{ 'paymentStepThree.title' | translate }}</li>
				</ul>
				<ul class="details">
					<li [ngClass]="{'active': activeStep === 1}">
						<h3 class="pb-2 pt-2">{{ 'paymentStepOne.title' | translate }}</h3>
						<div formGroupName="submissionDetails">
							<div class="form-group" data-error="This value is required">
								<input type="text" formControlName="peopleInvolved"
									(keydown)="changePeopleInvolved($event)" (keyup)="updatePeopleInvolved($event)"
									placeholder="{{ 'paymentStepOne.inputOne' | translate }}" required />
								<i class="fa fa-plus-circle add-another" aria-hidden="true"
									*ngIf="peopleInvolved[0] && peopleInvolved[0] !== ' '"
									(click)="addAnotherPerson($event)"></i>
							</div>
							<div class="form-group">
								<input type="text" formControlName="customText"
									placeholder="{{ 'paymentStepOne.inputTwo' | translate }}" required />
							</div>
							<div class="form-group">
								<input [owlDateTime]="dt1" #datetime (focus)="datetimeRef.nativeElement.click()"
									formControlName="dateTime" (dateTimeChange)="formatTime($event)"
									[owlDateTimeTrigger]="dt1" type="text"
									placeholder="{{ 'paymentStepOne.inputThree' | translate }}" required />
								<owl-date-time #dt1></owl-date-time>
							</div>
							<div class="form-group">
								<input type="text" ngx-google-places-autocomplete formControlName="location"
									[options]="{ types: ['(cities)'], componentRestrictions: { country: 'IN' } }"
									(onAddressChange)="handleAddressChange($event)"
									placeholder="{{ 'paymentStepOne.inputFour' | translate }}" required />
							</div>
							<div>
								<div class="left-half">
									<h6>{{ 'paymentStepOne.frameOption' | translate }}</h6>
									<span class="radio-group">
										<input type="radio" id="frameColor1" class="light" name="frameColor"
											formControlName="frameColor" value="light">
										<label for="frameColor1" class="fa"></label>
									</span>
									<span class="radio-group">
										<input type="radio" id="frameColor2" class="dark" name="frameColor"
											formControlName="frameColor" value="dark">
										<label for="frameColor2" class="fa"></label>
									</span>
									<span class="radio-group">
										<input type="radio" id="frameColor3" class="wood" name="frameColor"
											formControlName="frameColor" value="wood" selected>
										<label for="frameColor3" class="fa"></label>
									</span>
									<span class="radio-group">
										<input type="radio" id="frameColor4" class="brown" name="frameColor"
											formControlName="frameColor" value="brown">
										<label for="frameColor4" class="fa"></label>
									</span>
								</div>
								<div class="right-half">
									<h6>{{ 'paymentStepOne.colorOption' | translate }}</h6>
									<span class="radio-group">
										<input type="radio" id="bgColor1" class="white" name="backgroundColor"
											formControlName="backgroundColor" value="white">
										<label for="bgColor1" class="fa"></label>
									</span>
									<span class="radio-group">
										<input type="radio" id="bgColor2" class="black"
											formControlName="backgroundColor" value="black" name="backgroundColor"
											selected>
										<label for="bgColor2" class="fa"></label>
									</span>
								</div>
							</div>
							<div class="button-wrapper">
								<button class="btn" type="button"
									[disabled]="!orderDetails.get('submissionDetails').valid"
									(click)="formSubmited(1);">Next</button>
								<a class="cancel-btn" href="#" (click)="cancelPayment()">Cancel</a>
							</div>
						</div>
					</li>
					<li [ngClass]="{'active': activeStep === 2}">
						<div class="address-wrapper">
							<h3 class="pb-2 pt-2 fa arrow" [ngClass]="{'down': delivieryAdress}"
								(click)="delivieryAdress = !delivieryAdress">
								{{ 'paymentStepTwo.deliveryAddressTitle' | translate }}</h3>
							<div [ngClass]="{'visible': delivieryAdress}" formGroupName="deliveryAddress">
								<div class="form-group">
									<input type="text" formControlName="fullname"
										placeholder="{{ 'paymentStepTwo.fullName' | translate }}" required />
								</div>
								<div class="form-group">
									<input type="text" formControlName="email"
										placeholder="{{ 'paymentStepTwo.email' | translate }}" required />
								</div>
								<div class="form-group">
									<input type="text" formControlName="address"
										placeholder="{{ 'paymentStepTwo.address' | translate }}" required />
								</div>
								<div class="form-group w-50">
									<input type="text" formControlName="city"
										placeholder="{{ 'paymentStepTwo.city' | translate }}" required />
								</div>
								<div class="form-group w-50">
									<input type="number" formControlName="zipcode"
										onKeyDown="if(this.value.length===6 && event.keyCode!=8 && event.keyCode!=9) return false;"
										placeholder="{{ 'paymentStepTwo.zipcode' | translate }}" required />
								</div>
								<div class="form-group">
									<input type="number" formControlName="phone"
										onKeyDown="if(this.value.length===10 && event.keyCode!=8 && event.keyCode!=9) return false;"
										placeholder="{{ 'paymentStepTwo.phone' | translate }}" required />
								</div>
								<a class="cancel-btn pl-0 ft-12" href="#" (click)="copySameToBilling()">Copy the same
									below</a>
							</div>

							<h3 class="pb-2 pt-2 fa arrow" [ngClass]="{'down': !delivieryAdress}"
								(click)="delivieryAdress = !delivieryAdress">
								{{ 'paymentStepTwo.billingAddressTitle' | translate }}</h3>
							<div [ngClass]="{'visible': !delivieryAdress}" formGroupName="billingAddress">
								<a class="cancel-btn pl-0 ft-12" href="#" (click)="copySameToBilling()">Copy from
									above</a>
								<div class="form-group">
									<input type="text" formControlName="fullname"
										placeholder="{{ 'paymentStepTwo.fullName' | translate }}" required />
								</div>
								<div class="form-group">
									<input type="text" formControlName="email"
										placeholder="{{ 'paymentStepTwo.email' | translate }}" required />
								</div>
								<div class="form-group">
									<input type="text" formControlName="address"
										placeholder="{{ 'paymentStepTwo.address' | translate }}" required />
								</div>
								<div class="form-group w-50">
									<input type="text" formControlName="city"
										placeholder="{{ 'paymentStepTwo.city' | translate }}" required />
								</div>
								<div class="form-group w-50">
									<input type="number" formControlName="zipcode"
										onKeyDown="if(this.value.length===6 && event.keyCode!=8 && event.keyCode!=9) return false;"
										placeholder="{{ 'paymentStepTwo.zipcode' | translate }}" required />
								</div>
								<div class="form-group">
									<input type="number" formControlName="phone"
										onKeyDown="if(this.value.length===10 && event.keyCode!=8 && event.keyCode!=9) return false;"
										placeholder="{{ 'paymentStepTwo.phone' | translate }}" required />
								</div>
							</div>
						</div>
						<div class="button-wrapper">
							<button class="btn" type="button"
								[disabled]="!orderDetails.get('deliveryAddress').valid || !orderDetails.get('billingAddress').valid"
								(click)="formSubmited(2);">Next</button>
							<a class="cancel-btn" href="#" (click)="cancelPayment()">Cancel</a>
						</div>
					</li>
					<li [ngClass]="{'active': activeStep === 3}">
						<div>
							<h3 class="pb-2 pt-2">{{ 'paymentStepThree.title' | translate }}</h3>
							<h1 class="amount">3000 /-</h1>
							<h6 class="pb-3 pt-3">All inclusive, free delivery</h6>
							<div class="button-wrapper">
								<button class="btn" type="submit" (click)="formSubmited(3);">Make Payment</button>
								<a class="cancel-btn" href="#" (click)="cancelPayment()">Cancel</a>
							</div>
						</div>
					</li>
					<li [ngClass]="{'active': activeStep === 4}">
						<div class="success-wrapper mt-5">
							<i class="far fa-check-circle"></i>
							<h3 class="pb-2 pt-2">{{ 'paymentSuccess.successMessage' | translate }}</h3>
							<h6 class="pb-3 pt-3">{{ 'paymentSuccess.successInfo' | translate }}
								{{ orderDetails.get('billingAddress').get('email').value }}</h6>
							<input type="hidden" id="successPayment" (click)="myResponseHandler($event)" />
							<a class="cancel-btn" href="#"
								(click)="cancelPayment()">{{ 'paymentSuccess.orderAnother' | translate }}</a>
						</div>
					</li>
					<li [ngClass]="{'active': activeStep === 5}">
						<div class="retry-wrapper mt-5">
							<i class="fas fa-redo"></i>
							<h3 class="pb-2 pt-2">{{ 'paymentRetry.retryMessage' | translate }}</h3>
							<input type="hidden" id="errorPayment" (click)="myResponseHandler($event)" />
							<button class="btn" type="submit"
								(click)="formSubmited(5);">{{ 'paymentRetry.retryPayment' | translate }}</button>
						</div>
					</li>
				</ul>
			</form>
		</div>
	</div>
</div>