.payment {
	padding: 40px;
	@media only screen and (max-width: 992px) { 
		padding: 20px;
		padding-top: 40px;
	}
	.view-types {
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		top: 0px;
		margin: auto;
		display: none;
		padding: 20px;
		button {
			box-shadow: 0px 0px 10px 1px #00000055;
			&.active {
				background-color: transparent;
				color: #000000;
				border-color: #000000;
				pointer-events: none;
			}
			&:first-child {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			&:last-child {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
		
		@media only screen and (max-width: 992px) { 
			display: block;
		}
	}
	.view-wrapper {
		a {
			&.cancel-btn {
				display: inline-block;
				padding-left: 20px;
				font-weight: bold;
				text-decoration: underline;
			}
		}
		> div {
			display: inline-block;
			width: 50%;
			height: calc(100vh - 80px);
			vertical-align: top;
			@media only screen and (max-width: 992px) { 
				width: 100%;
			}
			@media only screen and (max-width: 568px) { 
				height: auto;
			}
			&.preview {
				text-align: center;
				.infoHolder {
					max-width: 90%;
					margin: auto;
					margin-top: 20px;
				}
				@media only screen and (max-width: 992px) { 
					margin-top: 40px;
					display: none;
					&.active {
						display: block;
					}
				}
				@media only screen and (max-width: 568px) { 
					margin-left: -10px;
				}
				.product {
					position: relative;
					height: 481px;
					width: 358px;
					margin: auto;
					background-repeat: no-repeat;
					background-size: contain;
					@media only screen and (max-width: 400px) { 
						height: 402px;
						width: 300px;
					}
					* {
						color: inherit;
						font-family: 'Montserrat', arial, courier, helvetica;
						font-weight: bold;
					}
					&.bg-white {
						background-color: #ffffff;
						color: #000000;
					}
					&.bg-black {
						background-color: #000000;
						color: #ffffff;
					}
					&.brown {
						background-image: url('../../../../assets/images/brown.png');
					}
					&.light {
						background-image: url('../../../../assets/images/light.png');
					}
					&.dark {
						background-image: url('../../../../assets/images/dark.png');
					}
					&.wood {
						background-image: url('../../../../assets/images/wood.png');
					}
					.skymap-wrapper {
						width: 300px;
						position: absolute;
						left: 0;
						right: 0;
						margin: auto;
						margin-top: 55px;
						@media only screen and (max-width: 400px) { 
							width: 210px;
						}
						.ns-cordinates {
							&:before {
								content: 'N';
								left: 0;
								right: 0;
								margin: auto;
								position: absolute;
								top: -20px;
								font-size: 10px;
							}
							&:after {
								content: 'S';
								left: 0;
								right: 0;
								margin: auto;
								position: absolute;
								bottom: -20px;
								font-size: 10px;
							}
						}
						&.ew-cordinates {
							&:before {
								content: 'E';
								position: absolute;
								left: 15px;
								font-size: 10px;
								line-height: 240px;
							}
							&:after {
								content: "W";
								position: absolute;
								top: 0px;
								font-size: 10px;
								line-height: 240px;
								right: 10px;
							}
							@media only screen and (max-width: 400px) { 
								&:before {
									left: 5px;
									line-height: 175px;
								}
								&:after {
									line-height: 175px;
									right: 0px;
								}
							}
						}
						
						img {
							width: 80%;	
						}
					}
					.constant-text {
						position: absolute;
						width: 100%;
						bottom: 130px;
						font-size: 12px;
					}
					.name-tag {
						position: absolute;
						width: 300px;
						left: 0;
						right: 0;
						bottom: 102px;
						margin: auto;
						span {
							display: inline-block;
							font-size: 10px;
							font-family: "Montserrat", arial, courier, helvetica;
							font-weight: bold;
							border-radius: 2px;
							padding: 2px 14px;
							background: linear-gradient(to bottom, #D4AF37 0%, #C5A028 100%);
							&.no-background {
								background: transparent;
							}
							&:not(.no-background) {
								color: #000000;
							}
						}
					}
					.custom-text {
						position: absolute;
						width: 300px;
						left: 0;
						right: 0;
						bottom: 80px;
						margin: auto;
						font-size: 12px;
					}
					.date-place-holder {
						position: absolute;
						font-size: 8px;
						width: 300px;
						left: 0;
						right: 0;
						bottom: 30px;
						margin: auto;
						span {
							font-size: 8px;
						}
					}
				}
				span {
					display: block;
					margin-top: 10px;
					font-size: 14px;
				}
			}
			&.form {
				padding: 0px 40px;
				@media only screen and (max-width: 992px) { 
					padding: 40px 0px;
					display: none;
					&.active {
						display: block;
					}
				}
				.ft-12 {
					font-size: 12px;
				}

				h1 {
					&.amount {
						font-weight: bold !important;
						font-size: 3.5rem;
					}
				}

				h3 {
					font-weight: bold;
					font-family: inherit;
					cursor: pointer;
					position: relative;
					width: 100%;
					transition: all ease-in-out 0.4s;

					&.fa {
						&.down {
							&:after {
								transform: rotate(180deg);
							}
						}
						&:after {
							font-family: "Font Awesome 5 Pro";
							font-weight: bold;
							content: "\f077";
							position: absolute;
							right: 0px;
							font-size: 18px;
							top: 15px;
						}
					}
				}

				[type="text"],
				[type="number"] {
					background-color: transparent;
					width: 100%;
					padding: 10px 15px;
					border: none;
					border-bottom: 1px solid;
					margin-bottom: 15px;
					&.ng-touched {
						&.ng-invalid {
							border-bottom-color: red;
						}
					}
				}

				.form-group {
					margin-bottom: 0px;
					position: relative;
					> input {
						display: block;
					}
					.add-another {
						position: absolute;
						right: 10px;
						top: 10px;
						font-size: 22px;
						cursor: pointer;
					}
				}

				.button-wrapper {
					padding-top: 10px;
					button {
						&:disabled {
							pointer-events: none;
						}
					}
				}

				.radio-group {
					[type="radio"]:checked,
					[type="radio"]:not(:checked) {
						position: absolute;
						z-index: -9999;
						&.brown + label:before {
							background: #563A21;
						}
						&.wood + label:before {
							background: #D3AC66;
						}
						&.dark + label:before {
							background: #2F2D2E;
						}
						&.light + label:before {
							background: #ffffff;
						}
						&.white + label:before {
							background: #ffffff;
						}
						&.black + label:before {
							background: #000000;
						}
					}

					[type="radio"]:checked + label,
					[type="radio"]:not(:checked) + label {
						position: relative;
						padding-left: 56px;
						cursor: pointer;
						line-height: 20px;
						display: inline-block;
						color: #666;
						height: 40px;
					}
					[type="radio"]:checked + label:before,
					[type="radio"]:not(:checked) + label:before {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						width: 40px;
						height: 40px;
						box-shadow: 0px 0px 5px 1px #00000055;
					}
					[type="radio"]:checked + label:after,
					[type="radio"]:not(:checked) + label:after {
						content: '\f058';
						width: 20px;
						height: 20px;
						color: #1da709;
						font-size: 22px;
						position: absolute;
						background-color: #ffffff;
						top: 10px;
						left: 9px;
						border-radius: 100%;
						-webkit-transition: all 0.2s ease;
						transition: all 0.2s ease;
					}
					[type="radio"]:not(:checked) + label:after {
						opacity: 0;
						-webkit-transform: scale(0);
						transform: scale(0);
					}
					[type="radio"]:checked + label:after {
						opacity: 1;
						-webkit-transform: scale(1);
						transform: scale(1);
					}
				}

				.left-half {
					display: inline-block;
					width: 100%;
					h6 {
						opacity: 0.75;
					}
				}

				.right-half {
					display: inline-block;
					width: 100%;
					h6 {
						opacity: 0.75;
					}
				}

				ul {
					margin: 0;
					padding: 0;
					&.breadcrumb {
						background-color: transparent;
						li {
							cursor: pointer;
							font-size: 12px;
							display: inline-block;
							color: #2d2d2d;
							padding: 5px;
							&:first-child {
								padding-left: 0px;
							}
							&:last-child {
								&:after {
									content: '';
								}
							}
							&:after {
								content: '>';
								padding-left: 10px;
								font-weight: bold;
							}
							&.active {
								font-weight: bold;
								color: #000000;
							}
						}
					}
					&.details {
						> li {
							display: none;
							&.active {
								display: block;
							}
							.address-wrapper {
								> div {
									display: none;
									&.visible {
										display: block;
									}
								}
								.form-group {
									&.w-50 {
										display: inline-block;
										width: 50%;
									}
								}
							}
							.success-wrapper {
								i {
									&:before {
										font-size: 10rem;
									}
								}
								h3 {
									margin-top: 3rem;
									font-size: 1.6rem;
								}
								h6 {
									width: 80%;
									min-width: 300px;
									@media only screen and (max-width: 568px) { 
										min-width: 100%;
									}
								}
								a {
									padding-left: 0px;
								}
							}

							.retry-wrapper {
								i {
									&:before {
										font-size: 10rem;
									}
								}
								h3 {
									margin-top: 3rem;
									font-size: 1.6rem;
								}
								h6 {
									width: 80%;
									min-width: 300px;
									@media only screen and (max-width: 568px) { 
										min-width: 100%;
									}
								}
								a {
									padding-left: 0px;
								}
							}
						}
					}
				}
			}
		}
	}
}
