::ng-deep {
	.starsWrapper {
		z-index: -1 !important;
		height: auto !important;
		top:0px;
	}
}

.left-container {
	&.right-container {
		@media only screen and (min-width: 568px) { 
			margin-top: 100px;
		}
	}
}