<div class="section">
	<div class="left-container right-container pt-4 pb-4">
		<a class="back-link" routerLink="/home">{{ 'backBtn' | translate }}</a>
		<h3>{{ 'expert.title' | translate }}</h3>
		<p>{{ 'expert.content' | translate }}</p>
	</div>
</div>