header {
	padding-top: 1rem;
	padding-bottom: 1rem;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 9;
	@media only screen and (max-width: 992px) {
		position: static;
	}
	img {
		max-width: 240px;
		margin-left: 50px;
		@media only screen and (max-width: 992px) {
			max-width: 200px;
			margin-left: 20px;
		}
		@media only screen and (max-width: 400px) {
			margin-left: 0;
		}
	}
	button {
		margin-right: 50px;
		margin-top: 10px;
		@media only screen and (max-width: 992px) {
			margin-right: 20px;
			margin-top: 5px;
		}
		@media only screen and (max-width: 400px) {
			margin-right: 0;
		}
		&.btn {
			color: #ffffff;
			font-weight: bold;
			background-color: #000000;
			padding: 0.5rem 2.5rem;
			border-radius: 1.5rem;
			transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.4s;
			&:hover {
				background-color: transparent;
				border: 1px solid #000000;
				color: #000000;
			}
		}
	}
}
