<header>
	<div class="row m-0">
		<div class="col-lg-6 width-50">
			<div class="logo-holder cursor-pointer" routerLink="/home">
				<img src="../../../../assets/images/logo.png" />
			</div>
		</div>
		<div class="col-lg-6 width-50 text-right">
			<button class="btn orderNowBtn" type="button"
				(click)="paymentService.togglePayment()">{{ 'callBtn1' | translate }}</button>
		</div>
	</div>
</header>