<main [ngClass]="{'stop-scroll':paymentIsProcessing}">
	<div class="payment-wrapper" [ngClass]="{'show':paymentIsProcessing}">
		<app-widget-payment></app-widget-payment>
	</div>
	<div class="loader" *ngIf="loading">
		<div class="center">
			<img src="../assets/images/logo.png">
			<div id="progressBar" class="progressBar"></div>
		</div>
	</div>
	<div class="starsWrapper" [ngClass]="{'loading' : loading}">
		<svg xmlns="http://www.w3.org/2000/svg" width="470.764" height="447.971" viewBox="0 0 470.764 447.971">
			<path id="Star_1" data-name="Star 1"
				d="M235.382,0l64.865,149.143L470.764,171.11,341.238,274.942l39.618,173.029-145.474-96.7-145.474,96.7,42.137-173.029L0,171.11l170.208-21.966Z" />
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" width="470.764" height="447.971" viewBox="0 0 470.764 447.971">
			<path id="Star_2" data-name="Star 2"
				d="M235.382,0l64.865,149.143L470.764,171.11,341.238,274.942l39.618,173.029-145.474-96.7-145.474,96.7,42.137-173.029L0,171.11l170.208-21.966Z" />
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" width="470.764" height="447.971" viewBox="0 0 470.764 447.971">
			<path id="Star_3" data-name="Star 3"
				d="M235.382,0l64.865,149.143L470.764,171.11,341.238,274.942l39.618,173.029-145.474-96.7-145.474,96.7,42.137-173.029L0,171.11l170.208-21.966Z" />
		</svg>
	</div>
	<app-header></app-header>
	<router-outlet></router-outlet>
	<app-footer></app-footer>
</main>