<footer class="footer">
	<div class="row m-0">
		<div class="col-lg-4">
			<div class="left-container content">
				<img class="product-image" src="../../../../assets/images/white-logo.png" />
			</div>
		</div>
		<div class="col-lg-8">
			<div class="right-container content text-right">
				<a routerLink="/contact">{{ 'contactLink' | translate }}</a>
				<a routerLink="/terms">{{ 'termsLink' | translate }}</a>
				<a routerLink="/privacy">{{ 'privacyLink' | translate }}</a>
			</div>
		</div>
	</div>
</footer>