::ng-deep {
	.fp-tableCell {
		vertical-align: top !important;
		padding-top: 100px;
		@media only screen and (max-width: 992px) {
			padding: 0 !important;
		}
	}
}

#fullpage {
	&.stop-scroll {
		overflow: hidden;
	}
}