<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
	<div class="section">
		<div class="row pt-4">
			<div class="col-lg-6">
				<div class="left-container content">
					<h3>{{ 'callout1.title' | translate }}</h3>
					<p>{{ 'callout1.description' | translate }}</p>
					<p>{{ 'callout1.description2' | translate }}</p>
					<button class="btn" (click)="paymentService.togglePayment()">{{ 'callBtn2' | translate }}</button>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="right-container content text-right">
					<img class="product-image" src="../../../../assets/images/product.png" />
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="row pt-4">
			<div class="col-lg-6">
				<img class="cover-image" src="../../../../assets/images/wall-decor-nakshatra@2x.png" />
			</div>
			<div class="col-lg-6">
				<div class="left-container content pt-0">
					<h3>{{ 'callout2.title' | translate }}</h3>
					<p>{{ 'callout2.description' | translate }}</p>
					<p>{{ 'callout2.description2' | translate }}</p>
					<p>{{ 'callout2.description3' | translate }}</p>
					<button class="btn" (click)="paymentService.togglePayment()">{{ 'callBtn3' | translate }}</button>
				</div>
			</div>
		</div>
	</div>
	<div class="section product-images">
		<img src="../../../../assets/images/design1.png" />
		<img src="../../../../assets/images/design2.png" />
		<img src="../../../../assets/images/design3.png" />
	</div>
	<div class="section">
		<div class="row m-0">
			<div class="col-lg-6 p-0">
				<div class="content banner">
					<h3>{{ 'banner1.title' | translate }}</h3>
					<p>{{ 'banner1.description' | translate }}</p>
					<a href="#" (click)="paymentService.togglePayment()">{{ 'callBtn1' | translate }}</a>
				</div>
			</div>
			<div class="col-lg-6 p-0">
				<div class="content banner inverted">
					<h3>{{ 'banner2.title' | translate }}</h3>
					<p>{{ 'banner2.description' | translate }}</p>
					<p>{{ 'banner2.description2' | translate }}</p>
					<ul>
						<li>{{ 'banner2.list.item1' | translate }}</li>
						<li>{{ 'banner2.list.item2' | translate }}</li>
						<li>{{ 'banner2.list.item3' | translate }}</li>
						<li>{{ 'banner2.list.item4' | translate }}</li>
						<li>{{ 'banner2.list.item5' | translate }}</li>
						<li>{{ 'banner2.list.item6' | translate }}</li>
					</ul>
					<p>{{ 'banner2.footer' | translate }}</p>
					<a href="#" (click)="paymentService.togglePayment()">{{ 'callBtn1' | translate }}</a>
				</div>
			</div>
		</div>
		<div class="footer overflowFooter">
			<div class="row">
				<div class="col-lg-4">
					<div class="left-container content">
						<img class="product-image" src="../../../../assets/images/white-logo.png" />
					</div>
				</div>
				<div class="col-lg-8">
					<div class="right-container content text-right">
						<a routerLink="/contact">{{ 'contactLink' | translate }}</a>
						<a routerLink="/terms">{{ 'termsLink' | translate }}</a>
						<a routerLink="/privacy">{{ 'privacyLink' | translate }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>