<div class="section">
	<div class="left-container right-container pt-4 pb-4">
		<a class="back-link" routerLink="/home">{{ 'backBtn' | translate }}</a>
		<h3>{{ 'terms.title' | translate }}</h3>
		<p class="c1"><span class="c2">Welcome to &ldquo;The Nakshatra&rdquo;</span></p>
		<p class="c1"><span class="c2">These terms and conditions outline the rules and regulations for the use of
				IDBELL
				SOLUTIONS PRIVATE LIMITED &#39;s Website, located at www.thenakshatra.com .</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">By accessing this website we assume you accept these terms and conditions. Do not
				continue to use The Nakshatra if you do not agree to take all of the terms and conditions stated on this
				page. Our Terms and Conditions were created with the help of the Terms And Conditions Generator and the
				Terms &amp; Conditions Generator.</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">The following terminology applies to these Terms and Conditions, Privacy
				Statement
				and Disclaimer Notice and all Agreements: &quot;Client&quot;, &quot;You&quot; and &quot;Your&quot;
				refers to
				you, the person log on this website and compliant to the Company&rsquo;s terms and conditions. &quot;The
				Company&quot;, &quot;Ourselves&quot;, &quot;We&quot;, &quot;Our&quot; and &quot;Us&quot;, refers to our
				Company. &quot;Party&quot;, &quot;Parties&quot;, or &quot;Us&quot;, refers to both the Client and
				ourselves.
				All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process
				of
				our assistance to the Client in the most appropriate manner for the express purpose of meeting the
				Client&rsquo;s needs in respect of provision of the Company&rsquo;s stated services, in accordance with
				and
				subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the
				singular,
				plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to
				same.</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">Cookies</span></p>
		<p class="c1"><span class="c2">We employ the use of cookies. By accessing The Nakshatra , you agreed to use
				cookies
				in agreement with the IDBELL SOLUTIONS PRIVATE LIMITED &#39;s Privacy Policy.</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">Most interactive websites use cookies to let us retrieve the user&rsquo;s details
				for
				each visit. Cookies are used by our website to enable the functionality of certain areas to make it
				easier
				for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</span>
		</p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">License</span></p>
		<p class="c1"><span class="c2">Unless otherwise stated, IDBELL SOLUTIONS PRIVATE LIMITED and/or its licensors
				own
				the intellectual property rights for all material on The Nakshatra . All intellectual property rights
				are
				reserved. You may access this from The Nakshatra for your own personal use subjected to restrictions set
				in
				these terms and conditions.</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">You must not:</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">Republish material from The Nakshatra</span></p>
		<p class="c1"><span class="c2">Sell, rent or sub-license material from The Nakshatra</span></p>
		<p class="c1"><span class="c2">Reproduce, duplicate or copy material from The Nakshatra</span></p>
		<p class="c1"><span class="c2">Redistribute content from The Nakshatra</span></p>
		<p class="c1"><span class="c2">This Agreement shall begin on the date hereof.</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">Parts of this website offer an opportunity for users to post and exchange
				opinions
				and information in certain areas of the website. IDBELL SOLUTIONS PRIVATE LIMITED does not filter, edit,
				publish or review Comments prior to their presence on the website. Comments do not reflect the views and
				opinions of IDBELL SOLUTIONS PRIVATE LIMITED ,its agents and/or affiliates. Comments reflect the views
				and
				opinions of the person who post their views and opinions. To the extent permitted by applicable laws,
				IDBELL
				SOLUTIONS PRIVATE LIMITED shall not be liable for the Comments or for any liability, damages or expenses
				caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on
				this
				website.</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">IDBELL SOLUTIONS PRIVATE LIMITED reserves the right to monitor all Comments and
				to
				remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and
				Conditions.</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">You warrant and represent that:</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">You are entitled to post the Comments on our website and have all necessary
				licenses
				and consents to do so;</span></p>
		<p class="c1"><span class="c2">The Comments do not invade any intellectual property right, including without
				limitation copyright, patent or trademark of any third party;</span></p>
		<p class="c1"><span class="c2">The Comments do not contain any defamatory, libelous, offensive, indecent or
				otherwise unlawful material which is an invasion of privacy</span></p>
		<p class="c1"><span class="c2">The Comments will not be used to solicit or promote business or custom or present
				commercial activities or unlawful activity.</span></p>
		<p class="c1"><span class="c2">You hereby grant IDBELL SOLUTIONS PRIVATE LIMITED a non-exclusive license to use,
				reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all
				forms,
				formats or media.</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">Hyperlinking to our Content</span></p>
		<p class="c1"><span class="c2">The following organizations may link to our Website without prior written
				approval:</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">Government agencies;</span></p>
		<p class="c1"><span class="c2">Search engines;</span></p>
		<p class="c1"><span class="c2">News organizations;</span></p>
		<p class="c1"><span class="c2">Online directory distributors may link to our Website in the same manner as they
				hyperlink to the Websites of other listed businesses; and</span></p>
		<p class="c1"><span class="c2">System wide Accredited Businesses except soliciting non-profit organizations,
				charity
				shopping malls, and charity fundraising groups which may not hyperlink to our Web site.</span></p>
		<p class="c1"><span class="c2">These organizations may link to our home page, to publications or to other
				Website
				information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply
				sponsorship,
				endorsement or approval of the linking party and its products and/or services; and (c) fits within the
				context of the linking party&rsquo;s site.</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">We may consider and approve other link requests from the following types of
				organizations:</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">commonly-known consumer and/or business information sources;</span></p>
		<p class="c1"><span class="c2">dot.com community sites;</span></p>
		<p class="c1"><span class="c2">associations or other groups representing charities;</span></p>
		<p class="c1"><span class="c2">online directory distributors;</span></p>
		<p class="c1"><span class="c2">internet portals;</span></p>
		<p class="c1"><span class="c2">accounting, law and consulting firms; and</span></p>
		<p class="c1"><span class="c2">educational institutions and trade associations.</span></p>
		<p class="c1"><span class="c2">We will approve link requests from these organizations if we decide that: (a) the
				link would not make us look unfavourably to ourselves or to our accredited businesses; (b) the
				organization
				does not have any negative records with us; (c) the benefit to us from the visibility of the hyperlink
				compensates the absence of IDBELL SOLUTIONS PRIVATE LIMITED ; and (d) the link is in the context of
				general
				resource information.</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">These organizations may link to our home page so long as the link: (a) is not in
				any
				way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and
				its
				products or services; and (c) fits within the context of the linking party&rsquo;s site.</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">If you are one of the organizations listed in paragraph 2 above and are
				interested in
				linking to our website, you must inform us by sending an e-mail to IDBELL SOLUTIONS PRIVATE LIMITED .
				Please
				include your name, your organization name, contact information as well as the URL of your site, a list
				of
				any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you
				would
				like to link. Wait 2-3 weeks for a response.</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">Approved organizations may hyperlink to our Website as follows:</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">By use of our corporate name; or</span></p>
		<p class="c1"><span class="c2">By use of the uniform resource locator being linked to; or</span></p>
		<p class="c1"><span class="c2">By use of any other description of our Website being linked to that makes sense
				within the context and format of content on the linking party&rsquo;s site.</span></p>
		<p class="c1"><span class="c2">No use of IDBELL SOLUTIONS PRIVATE LIMITED &#39;s logo or other artwork will be
				allowed for linking absent a trademark license agreement.</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">iframes</span></p>
		<p class="c1"><span class="c2">Without prior approval and written permission, you may not create frames around
				our
				Webpages that alter in any way the visual presentation or appearance of our Website.</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">Content Liability</span></p>
		<p class="c1"><span class="c2">We shall not be hold responsible for any content that appears on your Website.
				You
				agree to protect and defend us against all claims that is rising on your Website. No link(s) should
				appear
				on any Website that may be interpreted as libellous, obscene or criminal, or which infringes, otherwise
				violates, or advocates the infringement or other violation of, any third party rights.</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">Your Privacy</span></p>
		<p class="c1"><span class="c2">Please read Privacy Policy</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">Reservation of Rights</span></p>
		<p class="c1"><span class="c2">We reserve the right to request that you remove all links or any particular link
				to
				our Website. You approve to immediately remove all links to our Website upon request. We also reserve
				the
				right to amen these terms and conditions and it&rsquo;s linking policy at any time. By continuously
				linking
				to our Website, you agree to be bound to and follow these linking terms and conditions.</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">Removal of links from our website</span></p>
		<p class="c1"><span class="c2">If you find any link on our Website that is offensive for any reason, you are
				free to
				contact and inform us any moment. We will consider requests to remove links but we are not obligated to
				or
				so or to respond to you directly.</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">We do not ensure that the information on this website is correct, we do not
				warrant
				its completeness or accuracy; nor do we promise to ensure that the website remains available or that the
				material on the website is kept up to date.</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">Disclaimer</span></p>
		<p class="c1"><span class="c2">To the maximum extent permitted by applicable law, we exclude all
				representations,
				warranties and conditions relating to our website and the use of this website. Nothing in this
				disclaimer
				will:</span></p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">limit or exclude our or your liability for death or personal injury;</span></p>
		<p class="c1"><span class="c2">limit or exclude our or your liability for fraud or fraudulent
				misrepresentation;</span></p>
		<p class="c1"><span class="c2">limit any of our or your liabilities in any way that is not permitted under
				applicable law; or</span></p>
		<p class="c1"><span class="c2">exclude any of our or your liabilities that may not be excluded under applicable
				law.</span></p>
		<p class="c1"><span class="c2">The limitations and prohibitions of liability set in this Section and elsewhere
				in
				this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising
				under
				the disclaimer, including liabilities arising in contract, in tort and for breach of statutory
				duty.</span>
		</p>
		<p class="c0"><span class="c2"></span></p>
		<p class="c1"><span class="c2">As long as the website and the information and services on the website are
				provided
				free of charge, we will not be liable for any loss or damage of any nature.</span></p>
	</div>
</div>