@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~jarallax/dist/jarallax.css";
@import "~fullpage.js/dist/fullpage.min.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

html,
body {
	height: 100%;
}

* {
	font-family: 'vollkorn', Arial, Helvetica, sans-serif;
	color: #000000;
	outline: none;
}

a {
	color: #000000;
	text-decoration: underline;
	&.back-link {
		display: inline-block;
		font-weight: bold;
		margin-bottom: 30px;
		margin-top: 100px;
	}
	&:hover {
		color: inherit;
	}
}

.row {
	margin: 0;
	> div {
		padding: 0;
	}
}

.cursor-pointer {
	cursor: pointer !important;
}

button {
	&.btn {
		color: #ffffff;
		font-weight: bold;
		background-color: #000000;
		padding: 0.5rem 2.5rem;
		border-radius: 50rem;
		transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.4s;
		&:hover {
			background-color: transparent;
			border: 1px solid #000000;
			color: #000000;
		}
	}
}

body {
	.left-container {
		margin-left: 60px;
		&.content {
			padding-top: 30px;
			padding-left: 10px;
			@media only screen and (max-width: 992px) {
				padding: 40px;
				margin: 0;
				text-align: center;
				&.pt-0 {
					padding-top: 40px !important;
				}
			}
			p {
				@media only screen and (min-width: 992px) {
					max-width: 540px;
				}
			}
		}
		&.right-container {
			margin: 40px;
			padding-top: 0px;
			a {
				&.back-link {
					margin-top: 0;
				}
			}
		}
	}

	.right-container {
		margin-right: 60px;
		@media only screen and (max-width: 992px) {
			margin-right: 0px;
		}

		&.content {
			padding-right: 100px;
			@media only screen and (max-width: 992px) {
				padding: 40px;
				&.text-right {
					text-align: center  !important;
				}
			}
		}
	}

	.width-50 {
		width: 50%;
		@media only screen and (max-width: 400px) {
			width: 100%;
			.logo-holder {
				text-align: center;
			}
			&.text-right {
				text-align: center !important;
				margin-top: 20px;
			}
		}
	}

	.product-image {
		max-width: 320px;
		@media only screen and (max-width: 400px) {
			width: 100%;
		}
	}

	.cover-image {
		width: 100%;
		@media only screen and (min-width: 992px) {
			max-width: 100%;
		}
	}

	.gallery {
		img {
			max-width: 50%;
		}
	}

	.content {
		&.banner {
			padding: 40px;
			background-color: #f5f5f5;
			font-weight: bold;
			height: 100%;
			font-size: 14px;
			@media only screen and (max-width: 992px) {
					margin-top: 40px;
				
			}
			h3 {
				font-weight: 1.5rem;
				font-weight: bold;
			}
			p {
				margin-bottom: 0.2rem;
				@media only screen and (max-width: 992px) {
					width: 100%;
				}
			}
			a {
				color: inherit;
				text-decoration: underline;
			}
			&.inverted {
				background-color: #3d3d3d;
				color: #ffffff;
				ul {
					li {
						color: #ffffff;
					}
				}
				@media only screen and (max-width: 992px) { 
					margin-top: 0px;
				}
				p,
				h3 {
					color: #ffffff;
				}
			}
		}
	}
	.overflowFooter {
		@media only screen and (max-width: 992px) { 
			display: none;
		}
	}

	.footer {
		background-color: #000000;
		color: #ffffff;
		min-height: 160px;
		
		.right-container {
			padding: 0px;
			padding-top: 50px;
			@media only screen and (max-width: 992px) { 
				padding-bottom: 30px;
			}
			a {
				display: inline-block;
				padding: 10px 25px;
				color: #ffffff;
				text-decoration: underline;
				@media only screen and (max-width: 992px) { 
					display: block;
				}
			}
		}
	}

	.loader {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: #ffffff;
		left: 0;
		top: 0;
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.6s;
		&.gone {
			opacity: 0;
			visibility: hidden;
		}
		.center {
			max-width: 320px;
			img {
				width: 100%;
				@media only screen and (max-width: 568px) { 
					max-width: 240px;
				}
			}
			.progressBar {
				position: relative;
				margin: 2rem;
				height: 4px;
				border: 1px solid #000000;
				border-radius: 3px;
				&::after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					background-color: #000000;
					width: 100%;
					height: 2px;
					border-radius: 10px;
					animation: fillFull 1.5s 1;
				}
			}
		}
	}
	
	

	.starsWrapper {
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		@media only screen and (max-width: 992px) {
			display: none;
		}

		&:not(.loading) {
			> svg {
				transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
				opacity: 0.8;
				animation: pulse 10s infinite;
			}
		}
	}

	&:not(.fp-viewing-0) {
		.starsWrapper {
			> svg {
				&:nth-child(1) {
					fill: #b1c7e0;
					transform: scale(0.4) translate(5rem, 30rem) rotate(60deg);
				}
				&:nth-child(2) {
					fill: #bd92bf;
					transform: scale(2) translate(13rem, 10rem) rotate(-150deg);
				}
				&:nth-child(3) {
					fill: #a0eca8;
					transform: scale(0.8) translate(30rem, -50rem) rotate(90deg);
				}
			}
		}
	}

	&.fp-viewing-0 {
		.starsWrapper {
			> svg {
				&:nth-child(1) {
					fill: #ffba92;
					transform: scale(0.8) translate(3rem, 20rem) rotate(0deg);
				}
				&:nth-child(2) {
					fill: #ff8080;
					transform: scale(2) translate(15rem, -4rem) rotate(-70deg);
				}
				&:nth-child(3) {
					fill: #32afa9;
					transform: scale(3) translate(20rem, 5rem) rotate(0deg);
				}
			}
			&.loading {
				z-index: 11;
				> svg {
					opacity: 1;
					fill: #000000 !important;
					&:nth-child(1) {
						transform: scale(3) translate(-6rem, -50px) rotate(-7deg);
					}
					&:nth-child(2) {
						transform: scale(0.5) translate(60rem, -100px) rotate(20deg);
					}
					&:nth-child(3) {
						transform: scale(1) translate(50rem, -2rem) rotate(0deg);
					}
				}
			}
		}
	}

	&.fp-viewing-1 {
		.starsWrapper {
			> svg {
				&:nth-child(1) {
					fill: #ffba92;
					transform: scale(0.8) translate(3rem, -20rem) rotate(120deg);
				}
				&:nth-child(2) {
					fill: #e0f5b9;
					transform: scale(0.4) translate(-50rem, 40rem) rotate(30deg);
				}
				&:nth-child(3) {
					fill: #32afa9;
					transform: scale(3) translate(20rem, -10rem) rotate(0deg);
				}
			}
		}
	}

	&.fp-viewing-2 {
		.starsWrapper {
			> svg {
				&:nth-child(1) {
					fill: #76a9d0;
					transform: scale(4) translate(0rem, 0rem) rotate(-40deg);
				}
				&:nth-child(2) {
					fill: #f9d648;
					transform: scale(0.4) translate(50rem, -20rem) rotate(0deg);
				}
				&:nth-child(3) {
					fill: #f78a5c;
					transform: scale(0.6) translate(100rem, -40rem) rotate(50deg);
				}
			}
		}
	}

	&.fp-viewing-3 {
		.starsWrapper {
			> svg {
				&:nth-child(1) {
					fill: #5fda30;
					transform: scale(1) translate(60rem, 0rem) rotate(0deg);
				}
				&:nth-child(2) {
					fill: #f94848;
					transform: scale(2) translate(-20rem, 0rem) rotate(-90deg);
				}
				&:nth-child(3) {
					fill: #5c90f7;
					transform: scale(0.7) translate(50rem, -45rem) rotate(50deg);
				}
			}
		}
	}
}

.payment-wrapper {
	position: fixed;
	z-index: 15;
	width: 80vw;
	height: 100%;
	right: -3000px;
	top: 0px;
	background-color: #e4e4e4;
	box-shadow: 0px 0px 50px #00000075;
	transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.4s;
	@media only screen and (max-width: 992px) {
		width: 100%;
		overflow: auto;
	}
	&.show {
		right: 0px;
	}
}

.product-images {
	text-align: center;
	img {
		height: 480px;
		@media only screen and (max-width: 400px) {
			height: auto;
			width: 100%;
		}
	}
}

@keyframes pulse {
	50% {
		opacity: 1;
	}
}

@keyframes fillFull {
	1% {
		width: 0%;
	}

	40% {
		width: 34%;
	}

	65% {
		width: 80%;
	}

	85% {
		width: 85%;
	}

	99% {
		width: 100%;
	}
}
