<div class="section">
	<div class="left-container right-container pt-4 pb-4">
		<a class="back-link" routerLink="/home">{{ 'backBtn' | translate }}</a>
		<h3>{{ 'contact.title' | translate }}</h3>
		<p>{{ 'contact.content' | translate }}</p>
		<p>{{ 'contact.content2' | translate }}</p>
		<p>{{ 'contact.content3' | translate }}</p>
		<p>{{ 'contact.content4' | translate }}</p>
	</div>
</div>